// EXAMPLES //
// uncomment the one you want to use, comment out the others
@import "_examples/_example_0";
//@import "_examples/_example_1";
//@import "_examples/_example_2";
//@import "_examples/_example_3";

// The most common scale ratios:
$golden-ratio:      1.618; 
$perfect-fifth:     1.5;
$augumented-fourth: 1.414; 
$perfect-fourth:    1.333; 
$major-third:       1.25;  
$minor-third:       1.2;   
$major-second:      1.125; 
$minor-second:      1.067;

// CUSTOM VALUES // 
