$text-color: #212121;
$background-color: #f9f9f9;

$font-family: -apple-system, 
            BlinkMacSystemFont, // Chrome on Mac OS X 
            "Segoe UI", // Windows
            Roboto, // Android
            Oxygen, Ubuntu, Cantarell, // Linux
            "Fira Sans", // Firefox OS
            "Droid Sans", // Old Android
            "Helvetica Neue", Arial, sans-serif;  

$mono-font: SFMono-Regular, Menlo, Monaco, // Mac
            Consolas, // Windows
            "Andale Mono", // Old Windows
            "Ubuntu Mono", "Liberation Mono", // Linux
            "Courier New", monospace;

$headings-font-family: inherit;

// COLORS //

$base-color: #007500;
$accent-color: #0c6b6b;
$lightgray: #e9ece9;
$darkgray: #515951;
$black: $text-color;
$white: $background-color;

// aliases 
$base: $base-color;
$primary: $base-color;
$primary-color: $base-color;
$accent: $accent-color;
$secondary: $accent-color;
$secondary-color: $accent-color;
$light-gray: $lightgray;
$dark-gray: $darkgray;
